<div class="container mt-4">
  <div class="d-flex justify-content-around mb-3">
    <button class="btn btn-primary">Buscar paciente</button>
    <button class="btn btn-success" (click)="abrirModalAdicionar()">Adicionar paciente</button>
  </div>

  <!-- Modal simples -->
  <div class="modal-backdrop" *ngIf="modalAberto">
    <div class="modal-content">
      <h5>Adicionar paciente</h5>
      <input type="text" class="form-control mb-2" placeholder="Pesquisar por nome" [(ngModel)]="buscaNome" (input)="pesquisarPacientes()" />
      <ul class="list-group mb-2" *ngIf="resultadosBusca.length > 0">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let paciente of resultadosBusca">
          <span>{{ paciente.nome }}</span>
          <button class="btn btn-primary btn-sm" (click)="adicionarEspecialista(paciente)">Pedir acesso</button>
        </li>
      </ul>
      <button class="btn btn-secondary" (click)="fecharModalAdicionar()">Fechar</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mb-4" *ngFor="let paciente of pacientes">
      <div class="card p-4">
        <div class="d-flex align-items-center">
          <img [src]="paciente.avatar" alt="Avatar" width="80" height="80" class="rounded-circle me-4 border">
          <div>
            <h4>{{ paciente.name }}</h4>
            <p class="mb-1"><strong>Gênero:</strong> {{ paciente.gender }}</p>
            <p class="mb-1"><strong>Data Nascimento:</strong> {{ paciente.birthdate }}</p>
            <p class="mb-1"><strong>Telefone:</strong> {{ paciente.phoneNumber }}</p>
            <p class="mb-1"><strong>E-mail:</strong> {{ paciente.email }}</p>
            <p class="mb-1"><strong>Plano:</strong> {{ paciente.plan }}</p>
            <p class="mb-1"><strong>Cartão SUS:</strong> {{ paciente.susCard }}</p>
            <p class="mb-1" *ngIf="paciente.address"><strong>Endereço:</strong> 
              {{ paciente.address.street }}, {{ paciente.address.number }} - 
              {{ paciente.address.city }}, {{ paciente.address.state }}
            </p>
            <button
              class="btn btn-outline-primary mt-2"
              [routerLink]="['/medico/pacientes', paciente.id, 'prontuario']"
            >
              Acessar prontuário
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

