<div class="medico-layout">
  <nav class="sidebar">
    <div class="sidebar-header">
      <div class="logo">
        <h3>MedLink</h3>
        <span class="subtitle">
          <fa-icon [icon]="faUserMd" class="area-icon"></fa-icon>
          Área do Médico
        </span>
      </div>
    </div>
    
    <div class="sidebar-menu">
      <ul class="nav-list">
        <li class="nav-item">
          <a [routerLink]="['/medico/dashboard']" class="nav-link" routerLinkActive="active">
            <fa-icon [icon]="faDesktop" class="nav-icon"></fa-icon>
            <span class="nav-text">Dashboard</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a [routerLink]="['/medico/perfil']" class="nav-link" routerLinkActive="active">
            <fa-icon [icon]="faCircleUser" class="nav-icon"></fa-icon>
            <span class="nav-text">Perfil</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a [routerLink]="['/medico/pacientes']" class="nav-link" routerLinkActive="active">
            <fa-icon [icon]="faHospitalUser" class="nav-icon"></fa-icon>
            <span class="nav-text">Pacientes</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a [routerLink]="['/medico/mensagem']" class="nav-link" routerLinkActive="active">
            <fa-icon [icon]="faMessage" class="nav-icon"></fa-icon>
            <span class="nav-text">Mensagens</span>
          </a>
        </li>
      </ul>
    </div>
    
    <div class="sidebar-footer">
      <div class="user-info">
        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" 
             alt="Médico" class="user-avatar">
        <div class="user-details">
          <span class="user-name">{{ medicoNome }}</span>
          <span class="user-email">{{ medicoEmail }}</span>
        </div>
      </div>
      <button class="logout-btn" (click)="logout()" title="Sair">
        <fa-icon [icon]="faSignOutAlt"></fa-icon>
      </button>
    </div>
  </nav>
  
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>